<!DOCTYPE html>
<html>
<head>
    <title>Breadcrumbs</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">
</head>
<body>
<h3>Breadcrumbs</h3>
<ul class="breadcrumb">
    <li><a href="#">Home</a><span class="divider">&rarr;</span> </li>
    <li><a href="#">2014</a><span class="divider">&rarr;</span> </li>
    <li><a href="#">December</a><span class="divider">&rarr;</span> </li>
    <li><a href="#">5</a></li>
</ul>

<ul class="breadcrumb">
    <li><a href="#">Home</a><span class="divider">/</span> </li>
    <li><a href="#">2014</a><span class="divider">/</span> </li>
    <li><a href="#">December</a><span class="divider">/</span> </li>
    <li><a href="#">5</a></li>
</ul>
<ul class="breadcrumb">
    <li><a href="#">Home</a><span class="divider">&raquo;</span> </li>
    <li><a href="#">2014</a><span class="divider">&raquo;</span> </li>
    <li><a href="#">December</a><span class="divider">&raquo;</span> </li>
    <li><a href="#">5</a></li>
</ul>
</body>
</html>