<!DOCTYPE html>
<html>
<head>
    <title>Navbar</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">
</head>
<body>
<h3>Basic navbar</h3>

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>
<h3>Navbar Links</h3>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">First Link</a></li>
            <li><a href="#">Second Link</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Third Link</a></li>
        </ul>
    </div>
</div>
<h3>Forms</h3>
<h4>Default navbar form</h4>
<div class="navbar">
    <div class="navbar-inner">
        <form class="navbar-form pull-left">
            <input type="text" class="span2" id="fname">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
<h4>Navbar search input</h4>
<div class="navbar">
    <div class="navbar-inner">
        <form class="navbar-search" accept-charset="utf-8">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </div>
</div>
<h3>Navbar Menu Variations</h3>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">Fixed top navbar</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a> </li>
            <li><a href="#">Link</a> </li>
            <li><a href="#">Link</a> </li>
        </ul>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <a class="brand" href="#">Fixed bottom navbar</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a> </li>
            <li><a href="#">Link</a> </li>
            <li><a href="#">Link</a> </li>
        </ul>
    </div>
</div>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="#">Static top navbar</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a> </li>
            <li><a href="#">Link</a> </li>
            <li><a href="#">Link</a> </li>
        </ul>
    </div>
</div>

</body>
</html>